In [20]:
import numpy as np
import pandas as pd

In [2]:
dat = pd.read_csv('songdata.csv')

In [3]:
dat.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
dat.columns

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [6]:
all_char = dat.text.sum()

In [8]:
all_char_set = set(list(all_char))

In [9]:
all_char_set

{'\n',
 ' ',
 '!',
 '"',
 "'",
 '(',
 ')',
 ',',
 '-',
 '.',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 '?',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 ']',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [4]:
dat.loc[:, 'cleaned_text'] = dat.text.str.lower()

In [5]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace(r'[\n!"\(\),-.0-9:?\[\]]', lambda x: ' '+x.group(0)+' ')

In [6]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace("'", " '")

In [7]:
dat.iloc[:, 4].head()

0    look at her face ,  it 's a wonderful face   \...
1    take it easy with me ,  please   \n touch me g...
2    i 'll never know why i had to go   \n why i ha...
3    making somebody happy is a question of give an...
4    making somebody happy is a question of give an...
Name: cleaned_text, dtype: object

In [8]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace(r' {2,}', ' ')

In [9]:
dat.iloc[:, 4].head()

0    look at her face , it 's a wonderful face \n a...
1    take it easy with me , please \n touch me gent...
2    i 'll never know why i had to go \n why i had ...
3    making somebody happy is a question of give an...
4    making somebody happy is a question of give an...
Name: cleaned_text, dtype: object

In [10]:
dat.loc[:, 'text_list'] = dat.cleaned_text.str.split(' ')

In [11]:
dat.iloc[:, 5].head()

0    [look, at, her, face, ,, it, 's, a, wonderful,...
1    [take, it, easy, with, me, ,, please, \n, touc...
2    [i, 'll, never, know, why, i, had, to, go, \n,...
3    [making, somebody, happy, is, a, question, of,...
4    [making, somebody, happy, is, a, question, of,...
Name: text_list, dtype: object

In [12]:
input_length = 10

In [13]:
def make_sample(text_list):
    list_length = len(text_list)
    res_list = []
    for i in range(0, list_length-input_length):
        res_list.append(text_list[i:i+input_length+1])
    return res_list

In [14]:
sample = dat.loc[:, 'text_list'].apply(make_sample)

In [15]:
all_samples = pd.DataFrame(sample.sum())

In [16]:
len(all_samples)

16463624

In [17]:
all_samples.head()

,0,1,2,3,4,5,6,7,8,9,10
0,look,at,her,face,",",it,'s,a,wonderful,face,\n
1,at,her,face,",",it,'s,a,wonderful,face,\n,and
2,her,face,",",it,'s,a,wonderful,face,\n,and,it
3,face,",",it,'s,a,wonderful,face,\n,and,it,means
4,",",it,'s,a,wonderful,face,\n,and,it,means,something

In [18]:
all_samples.to_csv('train.dmp', sep='|', index=False)

In [25]:
unique_tokens = []
for i in range(input_length+1):
    unique_tokens += all_samples.loc[:, i].unique().tolist()

In [34]:
unique_tokens = pd.Series(np.unique(unique_tokens))

In [35]:
unique_tokens.to_csv('unique_tokens.dmp', index=False, header=None)

In [36]:
unique_tokens.head()

0
1    \n
2     !
3     "
4     '
dtype: object

In [55]:
dat.loc[dat.cleaned_text.str.contains("'love"), 'text'].iloc[0]

'The wheels on the bus go round and round  \nRound and round, round and round  \nThe wheels on the bus go round and round  \nAll through the town.  \n(Roll hands over each other)  \n  \nThe wipers on the bus go "Swish, swish, swish,  \nSwish, swish, swish, swish, swish, swish"  \nThe wipers on the bus go "Swish, swish, swish"  \nAll through the town.  \n(Put arms together in front of you and  \n\'swish\' like windshield wipers)  \n  \nThe door on the bus goes open and shut  \nOpen and shut, open and shut  \nThe door on the bus goes open and shut  \nAll through the town.  \n(Cover eyes with hands on \'shut\' and  \nUncover them on \'open\')  \n  \nThe horn on the bus goes "Beep, beep, beep  \nBeep, beep, beep, beep, beep, beep"  \nThe horn on the bus goes "Beep, beep, beep"  \nAll through the town.  \n(Pretend to honk horn)  \n  \nThe gas on the bus goes "Glug, glug, glug  \nGlug, glug, glug, glug, glug, glug"  \nThe gas on the bus goes "Glug, glug, glug"  \nAll through the town.  \n(Pretend to fill tank using pointer finger as gas nozzle)  \n  \nThe money on the bus goes "Clink, clink, clink,  \nClink, clink, clink, clink, clink, clink"  \nThe money on the bus goes "Clink, clink, clink"  \nAll through the town.  \n(Pretend to put money in cash box on bus)  \n  \nThe baby on the bus says, "Wah, wah, wah!  \nWah, wah, wah, wah, wah, wah! "  \nThe baby on the bus says, "Wah, wah, wah!"  \nAll through the town.  \n(Fisted hands in front of eyes  \nAnd rub them like baby crying)  \n  \nThe people on the bus say, "Shh, shh, shh,  \nShh, shh, shh, shh, shh, shh"  \nThe people on the bus say, "Shh, shh, shh"  \nAll through the town.  \n(Put pointer finger to mouth to \'shhh\')  \n  \nThe mommy on the bus says, "I love you,  \nI love you, I love you"  \nThe daddy on the bus says, "I love you, too"  \nAll through the town.  \n(Point to self on \'i\',  \nRight hand over heart on \'love\', and  \nPoint to other on \'you\')\n\n'

In [52]:
dat.cleaned_text.str.contains("'love").values

0    False
1    False
2    False
3    False
4    False
Name: cleaned_text, dtype: bool

In [44]:
dat.head()

,artist,song,link,text,cleaned_text,text_list
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd...","look at her face , it 's a wonderful face \n a...","[look, at, her, face, ,, it, 's, a, wonderful,..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl...","take it easy with me , please \n touch me gent...","[take, it, easy, with, me, ,, please, \n, touc..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...,i 'll never know why i had to go \n why i had ...,"[i, 'll, never, know, why, i, had, to, go, \n,..."
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...,making somebody happy is a question of give an...,"[making, somebody, happy, is, a, question, of,..."
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...,making somebody happy is a question of give an...,"[making, somebody, happy, is, a, question, of,..."

In [40]:
unique_tokens.head(1000)

0
1               \n
2                !
3                "
4                '
5               'a
6             'aah
7           'aamye
8              'ab
9             'aba
10      'abandonne
11         'abantu
12          'abord
13          'about
14        'abraham
15            'aby
16       'accender
17       'accepter
18     'accompagne
19         'accord
20            'ach
21         'achali
22          'achar
23        'achshav
24            'act
25             'ad
26           'adam
27        'adamdam
28           'adeh
29        'adenydd
          ...
970          'litz
971          'live
972        'livery
973      'lizabeth
974            'll
975          'llac
976         'llacs
977          'ller
978          'llow
979           'lls
980       'llstand
981           'lly
982            'lo
983          'lone
984          'long
985          'look
986       'loololo
987      'lopsided
988          'lord
989          'lost
990         'lotsa
991         'lotta
992         'lotto
993      'loughlin
994       'loungin
995          'love
996         'lover
997        'lovers
998           'low
999         'lowed
Length: 1000, dtype: object