In [2]:
import pandas as pd

In [3]:
dat = pd.read_csv('songdata.csv')

In [4]:
dat.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
dat.columns

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [6]:
all_char = dat.text.sum()

In [8]:
all_char_set = set(list(all_char))

In [9]:
all_char_set

{'\n',
 ' ',
 '!',
 '"',
 "'",
 '(',
 ')',
 ',',
 '-',
 '.',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 '?',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 ']',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [33]:
dat.loc[:, 'cleaned_text'] = dat.text.str.lower()

In [34]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace(r'[\n!"\(\),-.0-9:?\[\]]', lambda x: ' '+x.group(0)+' ')

In [35]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace("'", " '")

In [36]:
dat.iloc[:, 4].head()

0    look at her face ,  it 's a wonderful face   \...
1    take it easy with me ,  please   \n touch me g...
2    i 'll never know why i had to go   \n why i ha...
3    making somebody happy is a question of give an...
4    making somebody happy is a question of give an...
Name: cleaned_text, dtype: object

In [37]:
dat.loc[:, 'cleaned_text'] = dat.cleaned_text.str.replace(r' {2,}', ' ')

In [38]:
dat.iloc[:, 4].head()

0    look at her face , it 's a wonderful face \n a...
1    take it easy with me , please \n touch me gent...
2    i 'll never know why i had to go \n why i had ...
3    making somebody happy is a question of give an...
4    making somebody happy is a question of give an...
Name: cleaned_text, dtype: object

In [39]:
dat.loc[:, 'text_list'] = dat.cleaned_text.str.split(' ')

In [40]:
dat.iloc[:, 5].head()

0    [look, at, her, face, ,, it, 's, a, wonderful,...
1    [take, it, easy, with, me, ,, please, \n, touc...
2    [i, 'll, never, know, why, i, had, to, go, \n,...
3    [making, somebody, happy, is, a, question, of,...
4    [making, somebody, happy, is, a, question, of,...
Name: text_list, dtype: object

In [41]:
input_length = 10

In [45]:
def make_sample(text_list):
    list_length = len(text_list)
    res_list = []
    for i in range(0, list_length-input_length):
        res_list.append(text_list[i:i+input_length+1])
    return res_list

In [66]:
sample = dat.loc[dat.text.str.contains('"')].head().loc[:, 'text_list'].apply(make_sample)

In [67]:
all_samples = pd.DataFrame(sample.sum())

In [68]:
len(all_samples)

1660

In [69]:
all_samples.head()

,0,1,2,3,4,5,6,7,8,9,10
0,i,was,out,with,the,morning,sun,\n,couldn,'t,sleep
1,was,out,with,the,morning,sun,\n,couldn,'t,sleep,","
2,out,with,the,morning,sun,\n,couldn,'t,sleep,",",so
3,with,the,morning,sun,\n,couldn,'t,sleep,",",so,i
4,the,morning,sun,\n,couldn,'t,sleep,",",so,i,thought

In [70]:
all_samples.to_csv('train.dmp', sep='|', index=False)